* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #613e78,#0f1724);
}

.login-container {
    width: 100%;
    max-width: 440px;
    padding: 20px;
}

.login-card {
    background: #ffffff;
    padding: 40px 35px;
    border-radius: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    text-align: center;
}

.login-card h2 {
    font-size: 28px;
    color: #2e42ff;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

.input-box {
    display: flex;
    align-items: center;
    background: #f1f3f9;
    padding: 12px;
    border-radius: 14px;
    margin-top: 6px;
}

.input-box i {
    font-size: 20px;
    color: #666;
    margin-right: 10px;
}

.input-box input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 15px;
}

.login-btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    background: #2e42ff;
    color: white;
    border: none;
    border-radius: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.25s;
}

.login-btn:hover {
    background: #1e2ecc;
}

.signup-text {
    margin-top: 18px;
    color: #555;
    font-size: 15px;
}

.signup-text a {
    color: #2575fc;
    font-weight: 600;
    text-decoration: none;
}
