{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>MediFlow Login</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" >
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="login-container">

    <div class="login-card">
        <h2><i class="ri-capsule-fill"></i> MediFlow</h2>
        <p class="subtitle">Welcome back! Please login to continue</p>

        <form>
            <div class="form-group">
                <label>Email</label>
                <div class="input-box">
                    <i class="ri-mail-line"></i>
                    <input type="email" placeholder="Enter your email" required>
                </div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <div class="input-box">
                    <i class="ri-lock-2-line"></i>
                    <input type="password" placeholder="Enter your password" required>
                </div>
            </div>

            <button class="login-btn">login
            </button>
        </form>

        <p class="signup-text">Don’t have an account? 
            <a href="{% url 'registration' %}">Sign Up</a>
        </p>

    </div>
</div>

</body>
</html>
